In [9]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv(r'/storage/emulated/0/Download/readpdfile.csv')
df.head()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [36]:
df.shape

(15480, 7)

In [43]:
df.head(2)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT

In [44]:
df.tail()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
15475,2020,all,All Industries,j_Grand_Total,Total income,733258,DOLLARS(millions)
15476,2020,all,All Industries,j_Grand_Total,Total expenditure,654872,DOLLARS(millions)
15477,2020,all,All Industries,j_Grand_Total,Operating profit before tax,77389,DOLLARS(millions)
15478,2020,all,All Industries,j_Grand_Total,Total assets,2396143,DOLLARS(millions)
15479,2020,all,All Industries,j_Grand_Total,Fixed tangible assets,562646,DOLLARS(millions)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15480 entries, 0 to 15479
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  15480 non-null  int64
 1   industry_code_ANZSIC  15480 non-null  object
 2   industry_name_ANZSIC  15480 non-null  object
 3   rme_size_grp          15480 non-null  object
 4   variable              15480 non-null  object
 5   value                 15480 non-null  object
 6   unit                  15480 non-null  object
dtypes: int64(1), object(6)
memory usage: 483.8+ KB

In [40]:
pd.set_option('display.max_columns',7)

pd.set_option('display.max_rows',7)

In [27]:
schema_df=pd.read_csv(r'/storage/emulated/0/Download/readpdfile.csv')

In [41]:
print(schema_df)

       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
15477  2020                  all                     All Industries
15478  2020                  all                     All Industries
15479  2020                  all                     All Industries

        rme_size_grp                     variable    value               unit
0                a_0                Activity unit    46134              COUNT
1                a_0       Rolling mean employees        0              COUNT
2                a_0      Salaries and wages paid      279  DOLLARS(millions)
...              ...                          ...      ...                ...
15477  j_Grand_Total  Operating profit before tax    77389  DOLLARS(millions)
15478  j_Grand_Total                 Total assets  2396143  DOLLARS(millions)
15479  j_Grand_Total        Fixed tangible assets   562646  DOLLARS(millions)

[15480 rows x 7 columns]